body {
  font-family: Arial, sans-serif;
  background-color: #f8e8fd;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
form {
  background: #ebcdff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  max-width: 400px;
}
h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
}
label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-size: 14px;
}
input{
  width: 370px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
#message{
  width: 370px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
#message{
  height: 100px;
  resize: none;
}
.button {
  background: #eeac28;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}
.button:hover {
  background: #eeac28;
}